* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --textBlue: #006098;
}

/* Login Page */
#login-page {
  height: 100vh;
  width: 100%;
}

#login-img {
  object-fit: cover;
}

#pizzashop_logo {
  width: 60px;
  height: 50px;
}

.form-input-div {
  position: relative;
}

.form-input-icon {
  position: absolute;
  right: 10px;
  top: 30%;
}

/* Sidebar */
#sidebar {
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#sidebar ul{
  /* margin-top: 40px; */
  background-color: white;
}

#sidebar ul a{
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

#sidebar ul a:hover{
  background-color: rgba(211, 211, 211, 0.384);
  color: var(--textBlue);
} 
#sidebar li {
  list-style-type: none;
  /* margin: 10px 0px 10px 0px; */
  height: 43px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  position: relative;
  padding-left:10%;
  align-items: center;
  font-size: medium;
}
.sidebar-header{
  background-color: white;
  z-index: 2;
}
#sidebar-cancel-btn{
  display: none;
}

/* Navbar */
.navbar{
  height: 50px; 
  background-color: var(--textBlue);
}
#menu-icon{
  display: none;
}


/* User List */
.user-table th {
  color: gray;
}
.user-table td {
  color: gray;
}
.user-active {
  border-radius: 5px;
  background-color: rgb(144, 219, 32);
  text-align: center;
  width: 70px;
  color: white;
}
.user-inactive {
  border-radius: 5px;
  background-color: red;
  text-align: center;
  width: 70px;
  color: white;
}

#aleret-icon {
  width: 35px;
  height: 35px;
}
.border-btn {
  border: 2px dashed #006098;
  background-color: white;
  color: #006098;
  border-radius: 10px;
  padding: 7px;
}

.border-btn:hover {
  border: 2px solid #006098;
  background-color: #006098;
  color: white;
}

.user-icon {
  width: 30px;
  height: 30px;
}

/* Menu */
.tab-link.active {
  color: #006098 !important;
  border-bottom: 2px solid #006098;
}

.tab-link:hover {
  color: #006098 !important;
}
.tab-link {
  color: black;
  font-size: large;
}

.category-list {
  max-height: 400px;
  overflow-y: auto;
}

.item-category-btn {
  color: gray;
  transition: 0.4s ease;
}
.item-category-btn:hover {
  color: #006098;
  background-color: white;
}
.item-category-btn:hover > .edit-delete-icon {
  display: block;
}
.edit-delete-icon {
  display: none;
  height: 20px;
}
.edit-delete-icon > i {
  cursor: pointer;
}

.category-btn-icon {
  transform: rotate(90deg);
  margin-right: 3px;
}
.menu-table > td {
  display: flex !important;
  justify-content: center;
  margin: auto;
  color: gray;
}

.dining-menu-icon{
  height: 40px; 
  width: 40px;
}

/* Modifier */
.modifier-table td {
  height: 55px !important;
  color: gray !important;
  align-items: center;
}

.modifier-section {
  height: 550px;
}

/* switch */
.switch-btn {
  height: 25px;
  width: 45px !important;
  box-shadow: none !important;
}

/* Permission */
.permission-table > th {
  height: 55px !important;
}


/* common styling class for all page */
.content-bg {
  background-color: #f2f3f4;
}
.main-container {
  height: 100vh;
}
.textBlue{
  color: var(--textBlue);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    transform: translateX(-100%);
  }

  .sidebar.visible {
    background-color: aqua;
    transform: translateX(0); 
  }

  /* #login-form-section {
    background-image: url(../images/pizzashop-bg-blure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  } */

  .main-container {
    height: 100%;
  }

  
}


@media (max-width: 1024px) {
  #login-form-section {
    width: 100%;
    background-image: url(../images/pizzashop-bg-blure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  #login-page .login-img{
    display: none !important;
  }

  .offcanvas-lg.offcanvas-start {
    min-width: 230px !important;
  }
  .main-section{
    width: 100% !important;
  }
}

@media (max-width:992px) {
  .offcanvas-lg.offcanvas-start {
    width: 230px;
  }
  #menu-icon{
    display: block !important;
  }
  #sidebar-cancel-btn{
    display: block;
  }
}