*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login Page */
#login-page{
    height: 100vh;
    width: 100%;
}

#login-img{
    object-fit: cover;
}

#pizzashop_logo{
    width: 60px;
    height: 50px;
}

.form-input-div{
    position: relative;
}

.form-input-icon{
    position: absolute;
    right: 10px;
    top: 20%;
}

@media (max-width:768px){
    #login-form-section{
        background-image: url(../images/pizzashop-bg-blure.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}